{% extends 'client/templates/base.html' %}

{% block title %} A propos {% endblock title %}

{% block content %}
    <div class="container pt-5 mt-5 min-vh-100">
        <h1 class="text-primary text-decoration-underline mb-5">A propos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod illum ad saepe ab quia id quam necessitatibus hic accusantium doloribus reprehenderit vel excepturi recusandae obcaecati quidem assumenda perferendis, nihil dolore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae perspiciatis doloremque eum eveniet voluptas accusantium quod minus quibusdam exercitationem esse, atque asperiores! Esse voluptate aut corporis repudiandae nostrum, excepturi optio.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis dignissimos reprehenderit labore eligendi, atque commodi at saepe vitae voluptates, perspiciatis est cumque consequatur obcaecati doloremque, laborum aliquid molestiae ex odio.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut aliquid perferendis modi consectetur molestiae nam culpa accusantium aliquam commodi, eveniet non minima possimus quod nesciunt assumenda reiciendis distinctio eius quasi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam eveniet atque nobis tempora fuga distinctio. Ad illum at similique alias itaque dolorem nulla ratione sequi error voluptatem? Nesciunt, fuga totam!</p>
    </div>
{% endblock content %}
