{% extends 'client/templates/auth.html' %}

{% block title %} S'inscrire {% endblock title %}

{% block content %}

<section class="signin-section h-100">
    <div class="row h-100">
        <div class="col-lg-6 m-0 p-0">
            <div class="auth-cover-wrapper bg-primary-100">
                <div class="auth-cover">
                    <div class="title text-center">
                        <h1 class="text-primary mb-10">Bienvenue</h1>
                        <p class="text-medium">
                            Veuillez remplir vos informations
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 m-0 p-0">
            <div class="signin-wrapper h-100">
                <div class="form-wrapper">
                    <h6 class="mb-15">Formulaire d'inscription</h6>
                    <p class="text-sm mb-25">
                        S'inscrire pour continuer
                    </p>

                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {{ form.errors }}
                        </div>
                    {% endif %}

                    {% if messages %}
                        <ul class="alert alert-success">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6">
                                <label for="last_name" class="form-label">{{ form.last_name.label }}</label>
                                {{ form.last_name }}
                            </div>
                            <div class="col-6">
                                <label for="first_name" class="form-label">{{ form.first_name.label }}</label>
                                {{ form.first_name }}
                            </div>
                            
                            <div class="col-6">
                                <label for="email" class="form-label">{{ form.email.label }}</label>
                                {{ form.email }}
                            </div>
                            <div class="col-6">
                                <label for="username" class="form-label">{{ form.username.label }}</label>
                                {{ form.username }}
                            </div>
    
                            <div class="col-6">
                                <label for="password1" class="form-label">{{ form.password1.label }}</label>
                                {{ form.password1 }}
                            </div>
                            <div class="col-6 mb-30">
                                <label for="password2" class="form-label">{{ form.password2.label }}</label>
                                {{ form.password2 }}
                            </div>
    
                            <div class="col-12">
                                <div class="button-group d-flex justify-content-center flex-wrap">
                                    <button type="submit" class="main-btn primary-btn btn-hover w-100 text-center">S'inscrire</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <hr class="mt-5 mb-5">

                    <p class="text-sm text-medium text-dark text-center">
                        A déjà un compte ?
                        <a href="{% url 'client:login' %}">Se connecter</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", (e) => {
        fields = document.querySelectorAll("input")
        
        fields.forEach(field => {
            const div = document.createElement('div')
            div.classList.add('input-style-1')

            field.parentElement.append(div)
            div.append(field)
        })
    })
</script>

{% endblock %}